* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  min-height: 300px;
}

html {
  margin: 0;
}

section {
  width: 35em;
  min-height: 60px;
  marign: 0.5em 0;
  font-size: 12px;
}

#loader {
    margin-top: 20px;
    text-align: center;
}

.spinner {
    text-align: center;
    margin-top: 20px;
    color: #00bad2;
}

.notification {
  display: block;
  padding: 0.5em 0.5em;
  text-decoration: none;
  outline: none;
}

.notification.unread {
  background: #e0f5ff;
  font-weight: bold;
}

.notification:hover {
  background-color: rgb(240, 240, 240);
}

.notification-username {
  margin-right: 0.5em;
  color: #222;
}
.notification-title {
  color: #08c;
}
.notification i {
  margin-right: 5px;
}
.notification .fa {
  color: #919191;
}

.source-header {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    font-size: 1.2em;
    color: #fff;
    background: #00bad2;
    padding-left: 16px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

.source-header img {
    margin-right: 5px;
}

.source-header > * {
    vertical-align: middle;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: all .25s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    color: #222;
    font-weight: normal;
    background: #e9e9e9;
}
.btn:hover {
    background: #b2b2b2;
    color: #fff;
}
.source-actions {
    text-align: right;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e9e9e9;
    padding: 0;
    margin: 0px;
}
